Will be covered: biopandas, biopython, nglview, vmd, pymol, ...

In [5]:
from biopandas.pdb import PandasPdb

prot = PandasPdb().fetch_pdb("1hx0")
prot = PandasPdb().read_pdb_from_list()
prot.df["ATOM"].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,9,,N,,TYR,,A,2,,...,40.868,14.808,33.937,1.0,14.98,,,N,NaN,518
1,ATOM,10,,CA,,TYR,,A,2,,...,41.149,16.225,34.000,1.0,14.31,,,C,NaN,520
2,ATOM,11,,C,,TYR,,A,2,,...,40.197,17.074,33.168,1.0,14.26,,,C,NaN,522
3,ATOM,12,,O,,TYR,,A,2,,...,40.042,18.258,33.452,1.0,16.66,,,O,NaN,524
4,ATOM,13,,CB,,TYR,,A,2,,...,42.592,16.481,33.509,1.0,16.18,,,C,NaN,526

In [6]:
prot.df["ATOM"].columns

Index(['record_name', 'atom_number', 'blank_1', 'atom_name', 'alt_loc',
       'residue_name', 'blank_2', 'chain_id', 'residue_number', 'insertion',
       'blank_3', 'x_coord', 'y_coord', 'z_coord', 'occupancy', 'b_factor',
       'blank_4', 'segment_id', 'element_symbol', 'charge', 'line_idx'],
      dtype='object')

In [32]:
import nglview as nv
from Bio.PDB import PDBIO
import pandas as pd

del prot.df["HETATM"]

In [33]:
struct = nv.TextStructure(prot.pdb_text)
nv.NGLWidget(struct)

NGLWidget()

In [9]:
nv.datafiles.PDB

'c:\\Users\\ghanb\\anaconda3\\envs\\cheminfo\\Lib\\site-packages\\nglview\\datafiles\\md_1u19.pdb'